
.main {
    width: 520px;
    height: 472px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.main-nav {
    text-align: center;
}

.main-content {
    padding-top: 10px;
    height: 230px;
}

.main-content .main-input {
    width: 330px;
    height: 170px;
    float: left;
    padding-right: 10px;
    margin-top: 10px;
}

.main-content .main-input textarea {
    width: 320px;
}

.main-content .main-result {
	margin-top: 10px;
    width: 170px;
    height: 170px;
    float: right;
    overflow: hidden;
    font-family: "微软雅黑";
}

.clearfix:after {
 visibility:hidden;
 display:block;
 font-size:0;
 content:" ";
 clear:both;
 height:0;
}
.clearfix {
 zoom:1;
}

.clear {
    clear: both;
    float: none;
}

